[submodule "libs/scintillation_models/gnss-scintillation-simulator_2-param"]
	path = libs/scintillation_models/gnss-scintillation-simulator_2-param
	url = https://github.com/rodrigodelimaf/gnss-scintillation-simulator_2-param
[submodule "libs/utilities/arfit"]
	path = libs/utilities/arfit
	url = https://github.com/rodrigodelimaf/arfit
