[submodule "libs/arfit"]
	path = libs/arfit
	url = https://github.com/rodrigodelimaf/arfit
[submodule "libs/scintillation_models/refactored_tppsm"]
	path = libs/scintillation_models/refactored_tppsm
	url = https://github.com/rodrigodelimaf/gnss-scintillation-simulator
	branch = refactored
